# fly.toml app configuration file generated for barako-cms-api-baryo on 2025-12-17T19:28:51+08:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'barako-cms-api-baryo'
primary_region = 'sin'

[build]
  dockerfile = 'Dockerfile'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[env]
  Kubernetes__Enabled = "false"
  HealthChecksUI__Enabled = "false"
  Serilog__WriteToFile = "false"

[[vm]]
  memory = '1024mb'
  cpu_kind = 'shared'
  cpus = 1
