# fly.toml app configuration file generated for barako-cms-admin-baryo on 2025-12-17T19:30:32+08:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'barako-cms-admin-baryo'
primary_region = 'sin'

[build]
  dockerfile = 'Dockerfile'

[build.args]
  NEXT_PUBLIC_API_URL = "https://barako-cms-api-baryo.fly.dev"

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '512mb'
  cpu_kind = 'shared'
  cpus = 1
