name: Deploy Docs

on:
    push:
        branches: [main, master]
        paths:
            - "docs/**"

permissions:
    contents: read
    pages: write
    id-token: write

concurrency:
    group: pages
    cancel-in-progress: false

jobs:
    deploy-docs:
        environment:
            name: github-pages
            url: ${{ steps.deployment.outputs.page_url }}
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - name: Setup Node
              uses: actions/setup-node@v4
              with:
                  node-version: 20

            - name: Install and Build
              run: |
                  cd docs
                  npm install
                  npm run docs:build

            - name: Setup Pages
              uses: actions/configure-pages@v3

            - name: Upload artifact
              uses: actions/upload-pages-artifact@v3
              with:
                  path: docs/.vitepress/dist

            - name: Deploy to GitHub Pages
              id: deployment
              uses: actions/deploy-pages@v4
